@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&family=Lato&family=Montserrat:wght@600&family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  font-family: 'Fauna One', serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

html {
  background-color: rgba(255, 250, 250, 0.45);
}

.todo {
  width: auto;
  background-color: white;
  border-radius: 3px;
  box-shadow:
    0 -25px 25px 255px rgba(255, 250, 250, 0.45),
    25px 0 20px -20px rgba(0, 0, 0, 0.45),
    0 25px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.task {
  list-style: none;
  width: 300px;
  padding: 20px;
  border: 1px solid rgb(236, 232, 232);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.taskContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn {
  width: 343px;
  color: rgb(170, 170, 170);
}

.item {
  background-color: white;
}

.inputItem {
  color: rgb(170, 170, 170);
  border-color:white ;
  width: 92%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

body {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dots {
  color: rgb(170, 170, 170);
  width: 20px;
}

.trash {
    color:  rgb(170, 170, 170);
    width: 20px;
}

.image {
    border: 1px solid blueviolet;
    height: auto;
    width: auto;
}